{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Sync opendata info to database.</p>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<button id="syncTemples" type="button" class="btn btn-info">sync templeInfo to database</button>
<button id="syncCultureActivities" type="button" class="btn btn-info">sync CultureActivity to database</button>
<button id="syncCityNews" type="button" class="btn btn-info">sync CityNews to database</button>

{% endblock %}



{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/content/bootstrap-dialog.css" />
<script src="{{ STATIC_URL }}app/scripts/bootstrap-dialog.js"></script>
<script src="{{ STATIC_URL }}app/scripts/templates/about.js"></script>
{% endblock %}