{% extends "app/layout.html" %}

{% block content %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div id="map-canvas" class="map-canvas">
</div>
<button id="startToReputate" type="button" class="btn btn-info">取得所有動物醫院評比</button>
<!--<button id="getTopHospital" type="button" class="btn btn-info">取得評比前10名動物醫院</button>-->
<div id="dialog" title="新竹市動物醫院評比" >
    <label>點選確定後，開始評比</label>
</div>

{% endblock %}



{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/content/gmapTemplate.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/content/bootstrap-dialog.css" />
<script src="{{ STATIC_URL }}app/scripts/bootstrap-dialog.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ0_GKb5ByccS5AjRq-CVBVEcDYkdlP0w"></script>
<script src="{{ STATIC_URL }}app/scripts/gmap/markerclusterer.js"></script>
<script src="{{ STATIC_URL }}app/scripts/gmap/markerwithlabel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.min.js"></script>
<script src="{{ STATIC_URL }}app/scripts/templates/animalHospitalReputation.js"></script>
{% endblock %}