{% extends "app/layout.html" %}

{% block content %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div id="map-canvas" class="map-canvas">
</div>
<button id="keywordSearch" type="button" class="btn btn-info">活動搜尋</button>
<div id="dialog" title="關鍵字搜尋" >
    <label>關鍵字搜尋</label>
    <input id="keyword" type="text"/>
</div>

{% endblock %}



{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/content/gmapTemplate.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/content/bootstrap-dialog.css" />
<script src="{{ STATIC_URL }}app/scripts/bootstrap-dialog.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ0_GKb5ByccS5AjRq-CVBVEcDYkdlP0w"></script>
<script src="{{ STATIC_URL }}app/scripts/gmap/markerclusterer.js"></script>
<script src="{{ STATIC_URL }}app/scripts/gmap/markerwithlabel.js"></script>
<script src="{{ STATIC_URL }}app/scripts/templates/cultureActivities.js"></script>
{% endblock %}