{% extends "app/layout.html" %}

{% block content %}
<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6" >
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="輸入關鍵字...">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-search" aria-

hidden="true"></span></button>						
					  </span>
					</div><!-- /input-group -->
					<p class="text-left">熱門關鍵字: 福利手冊|房價|補助津貼|新竹官網黑客松</p>
                    <!-- <img class="img-responsive" src="img/profile.png" alt="">-->
                    <!-- <div class="intro-text">
                        <span class="name">Start Bootstrap</span>
                        <hr class="star-light">
                        <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
                    </div>-->
                </div>
				<img class="img-responsive" src="{{ STATIC_URL }}app/images/banner.png" alt="">
            </div>
        </div>
    </header>
	<section id="role">
	
	<div class="container">
	  <h4>請問您是...</h4>
	  <ul class="nav nav-pills hidden-xs nav-justified">
		<li class="active"><a data-toggle="pill" href="#default" class="btn btn-default btn-1">新竹市民</a></li>
		<li><a data-toggle="pill" href="#menu1" class="btn btn-default btn-2">新竹居民(非市民)</a></li>
		<li><a data-toggle="pill" href="#menu2" class="btn btn-default btn-3">商務貿易人士/團體組織</a></li>
		<li><a data-toggle="pill" href="#menu3" class="btn btn-default btn-4">新竹遊客</a></li>
	  </ul>
	  <div class="row visible-xs">
		<div class="dropdown">
		  <button type="button" class="btn btn-default btn-3 dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			新竹市民 <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" >
			<li><a href="#default">新竹市民</a></li>
			<li><a href="#menu1">新竹居民(非市民)</a></li>
			<li><a href="#menu2">商務貿易人士/團體組織</a></li>
			<li><a href="#menu3">新竹遊客 link</a></li>
		  </ul>
		</div>
	  </div>
	  <div class="tab-content">
		<div id="default" class="tab-pane fade in active">		
		</div>
		<div id="menu1" class="tab-pane fade">		
		</div>
		<div id="menu2" class="tab-pane fade">
		</div>
		<div id="menu3" class="tab-pane fade">  
		</div>
	  </div>
	</div>
    </section>

    <section id="gov">
      <div class="container">
          <a href="#" class="role-link">
			<div class="role-item" id="getTopNews">                       
				<p>市政管理區</p>                           
			</div>
		  </a>
       {#<h4>市政管理區...</h4>#}
      </div>
     </section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/content/bootstrap-dialog.css" />
<script src="{{ STATIC_URL }}app/scripts/bootstrap-dialog.js"></script>
<script src="{{ STATIC_URL }}app/scripts/templates/cityNews.js"></script>
{% endblock %}
