{% extends "app/layout.html" %}

{% block content %}

   <!-- role Grid Section -->
    <section id="role">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h4>請問您是...</h4>             
                </div>
            </div>
			<div class="row hidden-xs">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-1">新竹市民</button>
				  </div>
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-2">新竹居民(非市民)</button>
				  </div>
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-3">商務貿易人士</button>
				  </div>
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-4">新竹遊客</button>
				  </div>
				</div>			
			</div>
			<div class="row visible-xs">
				<div class="dropdown">
				  <button type="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					新竹市民 <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" >
					<li><a href="#">新竹市民</a></li>
					<li><a href="#">新竹居民(非市民)</a></li>
					<li><a href="#">商務貿易人士</a></li>
					<li><a href="#">新竹遊客 link</a></li>
				  </ul>
				</div>
			</div>
			<div class="row">
                <div class="col-lg-12 text-left">
                    <h4>市府為您提供以下服務...</h4>             
                </div>
            </div>
			<div class="row">
                <div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>社會福利</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>求職就業</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>民政役政</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>教育文化</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>綜合行政</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>經建發展</p>                           
                        </div>
                    </a>
                </div> 	
            </div>
			<div class="row">
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>工務地政</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>環保衛生</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>警政消防</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>觀光休閒</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>社會福利</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>市政管理</p>                           
                        </div>
                    </a>
                </div> 	
            </div>
			<div class="row">
                <div class="col-lg-12 text-left">
                    <h4>您可以為新竹...</h4>             
                </div>
            </div>
			<div class="row">
                <div class="col-sm-8">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>1999服務專線</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>刊登APP</p>                           
                        </div>
                    </a>
                </div>
				<div class="col-sm-2">
                    <a href="#" class="role-link">
                        <div class="role-item">                       
							<p>網站勘誤</p>                           
                        </div>
                    </a>
                </div>
            </div>
			
           
        </div>
    </section>

{% endblock %}
