<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - 新竹市政府</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/freelancer.css' %}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
				<a href="{% url 'home' %}">
                   <img class="img-responsive" src="{% static 'app/images/logo.png' %}" href="#page-top" alt="新竹市政府">
                    </a>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6" >
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="輸入關鍵字...">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>						
					  </span>
					</div><!-- /input-group -->
					<p class="text-left">熱門關鍵字: 福利手冊|房價|補助津貼|新竹官網黑客松</p>
                </div>
				<img class="img-responsive" src="{% static 'app/images/banner.png' %}" alt="" style="float:right">
                <ul style="float: left">
                    <li><a href="{% url 'templeMaps' %}">求人不如求神</a></li>
                </ul>
            </div>
        </div>
    </header>

{% block content %}{% endblock %}
      <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                       <p>&copy; {{ year }} -  PPTRA@Home</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <script src="{% static 'app/scripts/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'app/scripts/classie.js' %}"></script>
    <script src="{% static 'app/scripts/cbpAnimatedHeader.js' %}"></script>
    <!-- Contact Form JavaScript -->
    <script src="{% static 'app/scripts/jqBootstrapValidation.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'app/scripts/freelancer.js' %}"></script>
    <script src="{% static 'app/scripts/Util/StringExtension.js' %}"></script>
    <script src="{% static 'app/scripts/Util/commonUtil.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
