<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - 新竹市政府</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/freelancer.css' %}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
				<img class="img-responsive" src="{% static 'app/images/logo.png' %}" href="#page-top" alt="新竹市政府">
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6" >
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="輸入關鍵字...">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>						
					  </span>
					</div><!-- /input-group -->
					<p class="text-left">熱門關鍵字: 福利手冊|房價|補助津貼|新竹官網黑客松</p>
                </div>
				<img class="img-responsive" src="{% static 'app/images/banner.png' %}" alt="">
            </div>
        </div>
    </header>

{% block content %}{% endblock %}
      <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                       <p>&copy; {{ year }} -  PPTRA@Home</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/Util/StringExtension.js' %}"></script>
    <script src="{% static 'app/scripts/Util/commonUtil.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
