{% extends "app/layout.html" %}

{% block content %}


<h4 class="page-header" style="padding-top: 50px;">本期議員建議事項(104/1-104/6)</h4>
<div class="table-responsive">
    <table id="dataTables" class="table" >
        <thead>
            <tr>
                <th>#</th>
                <th>議員姓名</th>
                <th>建議項目及內容</th>
                <th>建議地點</th>
                <th>建議金額</th>
                <th>核定金額</th>
                <th>經費支用科目</th>
                <th>主辦機關</th>
                <th>招標方式</th>
                <th>得標廠商</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>李妍慧議員</td>
                <td>南寮國小遊樂設施工程</td>
                <td>南寮國小</td>
                <td>500</td>
                <td>485</td>
                <td>其他公共工程-設備及投資</td>
                <td>南寮國小</td>
                <td>公開招標</td>
                <td>中正國際文化事業有限公司</td>
            </tr>
            <tr>
                <td>2</td>
                <td>吳青山議員</td>
                <td>南寮國小遊樂設施工程</td>
                <td>南寮國小</td>
                <td>500</td>
                <td>485</td>
                <td>其他公共工程-設備及投資</td>
                <td>南寮國小</td>
                <td>公開招標</td>
                <td>中正國際文化事業有限公司</td>
            </tr>
            <tr>
                <td>3</td>
                <td>吳國寶議員</td>
                <td>內湖國小木棧平台及教室整修</td>
                <td>內湖國小</td>
                <td>99</td>
                <td>96</td>
                <td>其他公共工程-設備及投資</td>
                <td>內湖國小</td>
                <td>小額採購</td>
                <td>新陽教具店</td>
            </tr>
            <tr>
                <td>4</td>
                <td>鄭正鈐議員</td>
                <td>民享一街排水溝改善工程</td>
                <td>東區區公所</td>
                <td>147</td>
                <td>147</td>
                <td>其他公共工程-設備及投資</td>
                <td>東區區公所</td>
                <td>公開招標</td>
                <td>鴻運土木包工業</td>
            </tr>
            <tr>
                <td>5</td>
                <td>余邦彥議員</td>
                <td>東園國小迎星樓洗手台工程</td>
                <td>東園國小</td>
                <td>99</td>
                <td>96</td>
                <td>其他公共工程-設備及投資</td>
                <td>東園國小</td>
                <td>小額採購</td>
                <td>城坤工程行</td>
            </tr>
            <tr>
                <td>6</td>
                <td>余邦彥議員</td>
                <td>東園國小迎星樓洗手台工程</td>
                <td>東園國小</td>
                <td>99</td>
                <td>96</td>
                <td>其他公共工程-設備及投資</td>
                <td>東園國小</td>
                <td>小額採購</td>
                <td>城坤工程行</td>
            </tr>
            <tr>
                <td>7</td>
                <td>黃美慧議員</td>
                <td>培英國中校園監視器工程</td>
                <td>培英國中</td>
                <td>98</td>
                <td>95</td>
                <td>其他公共工程-設備及投資</td>
                <td>培英國中</td>
                <td>小額採購</td>
                <td>巧峰通信電業有限公司</td>
            </tr>
            <tr>
                <td>8</td>
                <td>蕭志潔議員</td>
                <td>載熙國小和平樓防漏工程</td>
                <td>載熙國小</td>
                <td>99</td>
                <td>96</td>
                <td>其他公共工程-設備及投資</td>
                <td>載熙國小</td>
                <td>小額採購</td>
                <td>平順油漆工程有限公司</td>
            </tr>
            <tr>
                <td>9</td>
                <td>張祖琰議員</td>
                <td>東園國小空中菜園等工程</td>
                <td>東園國小</td>
                <td>395</td>
                <td>316</td>
                <td>其他公共工程-設備及投資</td>
                <td>東園國小</td>
                <td>公開招標</td>
                <td>兆鈜工程有限公司</td>
            </tr>
            <tr>
                <td>10</td>
                <td>鄭正鈐議員</td>
                <td>東園國小弦樂團教室增置改善工程</td>
                <td>東園國小</td>
                <td>300</td>
                <td>289</td>
                <td>其他公共工程-設備及投資</td>
                <td>東園國小</td>
                <td>公開招標</td>
                <td>力承室內裝修有限公司</td>
            </tr>
            <tr>
                <td>11</td>
                <td>林盈徹議員</td>
                <td>育賢國中舞蹈教室添購窗簾工程</td>
                <td>育賢國中</td>
                <td>54</td>
                <td>52</td>
                <td>其他公共工程-設備及投資</td>
                <td>育賢國中</td>
                <td>小額採購</td>
                <td>絕色裝潢傢飾</td>
            </tr>
            <tr>
                <td>12</td>
                <td>蕭志潔議員</td>
                <td>東門國小扶手等工程</td>
                <td>東門國小</td>
                <td>100</td>
                <td>97</td>
                <td>其他公共工程-設備及投資</td>
                <td>東門國小</td>
                <td>小額採購</td>
                <td>柏穎空間設計工作室</td>
            </tr>
            <tr>
                <td>13</td>
                <td>林耕仁議員</td>
                <td>警察局第三分局銜牌工程</td>
                <td>警察局</td>
                <td>71</td>
                <td>69</td>
                <td>其他公共工程-設備及投資</td>
                <td>警察局</td>
                <td>小額採購</td>
                <td>龍鋒廣告企業有限公司</td>
            </tr>
            <tr>
                <td>14</td>
                <td>鄭正鈐議員</td>
                <td>龍山國小窗簾工程</td>
                <td>龍山國小</td>
                <td>99</td>
                <td>96</td>
                <td>其他公共工程-設備及投資</td>
                <td>龍山國小</td>
                <td>小額採購</td>
                <td>勤農清潔裝潢行</td>
            </tr>
            <tr>
                <td>15</td>
                <td>許文棟議員</td>
                <td>三民國小校長室修繕工程</td>
                <td>三民國小</td>
                <td>291</td>
                <td>243</td>
                <td>其他公共工程-設備及投資</td>
                <td>三民國小</td>
                <td>公開招標</td>
                <td>壬新室內裝修工程有限公司</td>
            </tr>
            <tr>
                <td>16</td>
                <td>曾資程議員</td>
                <td>三民國小校長室修繕工程</td>
                <td>三民國小</td>
                <td>291</td>
                <td>243</td>
                <td>其他公共工程-設備及投資</td>
                <td>三民國小</td>
                <td>公開招標</td>
                <td>壬新室內裝修工程有限公司</td>
            </tr>
            <tr>
                <td>17</td>
                <td>曾資程議員</td>
                <td>東園國小韻律教室舞台整修工程</td>
                <td>東園國小</td>
                <td>92</td>
                <td>89</td>
                <td>其他公共工程-設備及投資</td>
                <td>東園國小</td>
                <td>小額採購</td>
                <td>冠軍成工程企業社</td>
            </tr>
            <tr>
                <td>18</td>
                <td>謝希誠議員</td>
                <td>培英國中籃球場燈具工程</td>
                <td>培英國中</td>
                <td>98</td>
                <td>95</td>
                <td>其他公共工程-設備及投資</td>
                <td>培英國中</td>
                <td>小額採購</td>
                <td>宇倫工程有限公司</td>
            </tr>
            <tr>
                <td>19</td>
                <td>吳青山議員</td>
                <td>南華國中供水及照明工程</td>
                <td>南華國中</td>
                <td>98</td>
                <td>95</td>
                <td>其他公共工程-設備及投資</td>
                <td>南華國中</td>
                <td>小額採購</td>
                <td>松浩水電工程行</td>
            </tr>
            <tr>
                <td>20</td>
                <td>許副議長修睿</td>
                <td>香山國小教室隔間等工程</td>
                <td>香山國中</td>
                <td>95</td>
                <td>92</td>
                <td>其他公共工程-設備及投資</td>
                <td>香山國中</td>
                <td>小額採購</td>
                <td>禾家室內裝修設計工程有限公司</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}



{% block scripts %}
<!-- /#page-wrapper -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/content/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/content/dataTables.responsive.css" />
<!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/1.0.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.10/js/dataTables.bootstrap.js"></script>

<script>
    $(document).ready(function () {
        $('#dataTables').DataTable({
            "language": {
                "search": "搜尋",
                "sSearchPlaceholder": "輸入...",
                "info": "顯示 _START_ 到 _END_ 筆資料",
                "infoEmpty": "顯示 0 筆資料",
                "lengthMenu": "顯示 _MENU_ 筆資料",
                "loadingRecords": "載入中...",
                "processing": "處理中...",
                "zeroRecords": "查無符合資料",
                "infoFiltered": "(共搜尋 _MAX_ 筆資料)",
                "paginate": {
                    "first": "第一頁",
                    "last": "最後一頁",
                    "next": "下一頁",
                    "previous": "前一頁"
                }
            }
        });
    });
</script>
{% endblock %}