{% extends "app/layout.html" %}

{% block content %}

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div id="map-canvas" class="map-canvas">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com.tw/maps/@24.7655142,121.0162967,15z?hl=zh-TW"></iframe>
</div>

<div id="dialog" title="求人不如求神" >
    <label for="regions">選擇地區</label>
    <select name="regions" id="regions">
    {% for r in regions %}
        <option>{{r}}</option>
    {% endfor %}
    </select>
<br/>
    <label for="belief">選擇宗教別</label>
    <select name="belief" id="belief">
    {% for b in belief %}
        <option>{{b}}</option>
    {% endfor %}
    </select>
</div>

{% endblock %}



{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/content/templeMaps.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/content/bootstrap-dialog.css" />
<script src="{{ STATIC_URL }}app/scripts/bootstrap-dialog.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ0_GKb5ByccS5AjRq-CVBVEcDYkdlP0w"></script>
<script src="{{ STATIC_URL }}app/scripts/gmap/markerclusterer.js"></script>
<script src="{{ STATIC_URL }}app/scripts/gmap/markerwithlabel.js"></script>
<script src="{{ STATIC_URL }}app/scripts/templates/templeMaps.js"></script>
{% endblock %}